<div class="border-b bg-white px-4 py-2 flex gap-4">
  <a routerLink="/map/overview" routerLinkActive="bg-blue-100 text-blue-700" class="rounded-lg px-4 py-2 text-slate-600 transition-colors hover:bg-slate-100">
    Mapa
  </a>

  <a routerLink="/map/annotations" routerLinkActive="bg-blue-100 text-blue-700" class="rounded-lg px-4 py-2 text-slate-600 transition-colors hover:bg-slate-100">
    Anotaciones
  </a>

  <a routerLink="/map/layers" routerLinkActive="bg-blue-100 text-blue-700" class="rounded-lg px-4 py-2 text-slate-600 transition-colors hover:bg-slate-100">
    Capas
  </a>
</div>

<router-outlet></router-outlet>