<div class="flex h-screen w-full items-center justify-center overflow-hidden p-2">
  <mat-card class="cardWithShadow overflow-hidden auth-card mx-auto mb-0">
    <div class="grid grid-cols-12 gap-6">
      <div class="lg:col-span-6 col-span-12 flex items-stretch">
        <div class="w-full p-10 flex flex-col justify-center aling-center">
          <div class="text-center">Inicia sesión en Gestión Territorial</div>

          <form class="mt-8" [formGroup]="form" (ngSubmit)="submit()">
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block text-start">Email</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput formControlName="email" />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block text-start">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput formControlName="password" type="password" />
            </mat-form-field>

            @if (error) {
              <div class="text-red-600 mt-2">{{ error }}</div>
            }

            @if (!loading) {
              <button type="submit" mat-flat-button color="primary" class="w-full text-white" [disabled]="form.invalid">
                Iniciar sesión
              </button>

              <button type="button" mat-flat-button color="primary" class="w-full text-white mt-4" (click)="loginWithGithub()">
                <i class="fa-brands fa-github"></i>
                Iniciar sesión con github
              </button>
              
              <button type="button" mat-flat-button color="primary" class="w-full text-white mt-4" (click)="loginWithGoogle()">
                <i class="fa-brands fa-google"></i>
                Iniciar sesión con google
              </button>
              
              <button type="button" mat-flat-button color="primary" class="w-full text-white mt-4" (click)="loginWithMicrosoft()">
                <i class="fa-brands fa-microsoft"></i>
                Iniciar sesión con microsoft
              </button>
            }

            @if (loading) {
              <button type="button" mat-flat-button color="primary" class="w-full text-white" disabled>
                Iniciando sesión...
              </button>
            }

          </form>
        </div>
      </div>
      <div class="lg:col-span-6 col-span-12 relative hidden lg:flex justify-center items-stretch bg-light p-5">
        <div class="flex items-center justify-center w-full">
          <img src="/assets/images/backgrounds/login-bg.svg" alt="login" class="img-fluid object-cover" />
        </div>
      </div>
    </div>
  </mat-card>
</div>