<button mat-button (click)="handleRefresh()">
  <mat-icon>refresh</mat-icon>
  Eliminar filtros
</button>

<mat-label class="mb-2 block text-base font-medium">
  Filtrar por área
</mat-label>

<div class="flex gap-4 mb-4">

  <mat-form-field appearance="outline" class="w-1/2">
    <mat-label>Comuna</mat-label>
    <mat-select [(value)]="selectedCommune" (selectionChange)="handleCommuneChange($event.value)">
        <mat-option [value]="null">Ninguna</mat-option>
        @for (commune of communes; track commune.id_commune){
            <mat-option [value]="commune.id_commune">
                {{ commune.name }}
            </mat-option>
        }
    </mat-select>
  </mat-form-field>

  @if (selectedCommune){
    <mat-form-field appearance="outline" class="w-1/2">
        <mat-label>Barrio</mat-label>
        <mat-select [(value)]="selectedNeighborhood" (selectionChange)="handleNeighborhoodChange($event.value)">
            <mat-option [value]="null">Ninguno</mat-option>
            @for (neighborhood of selectedCommuneNeighborhoods; track neighborhood.id_neighborhood){
                <mat-option [value]="neighborhood.id_neighborhood">
                    {{ neighborhood.name }}
                </mat-option>
            }
        </mat-select>
  </mat-form-field>

  }

</div>
<mat-label class="mb-2 block text-base font-medium">
  Filtrar por categorías
</mat-label>

<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl">

  <mat-tree-node *matTreeNodeDef="let node">

    <mat-checkbox
      [checked]="isSelected(node)"
      (change)="toggle(node)">
      {{ node.name }} ({{node.amountOfMembers}})
    </mat-checkbox>

  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">

    <div class="flex items-center gap-2">

      <button mat-icon-button matTreeNodeToggle>
        <mat-icon>
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>

      <mat-checkbox
        [checked]="isSelected(node)"
        [indeterminate]="isIndeterminate(node)"
        (change)="toggle(node)">
        {{ node.name }} ({{node.amountOfMembers}})
      </mat-checkbox>

    </div>

    <div class="ml-6" [class.tree-invisible]="!treeControl.isExpanded(node)">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>

  </mat-nested-tree-node>

</mat-tree>