<span [dir]="options.dir!">
  <mat-sidenav-container class="mainWrapper blue_theme light-theme" autosize autoFocus dir="ltr">
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->

    <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
      (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
      <div class="flex-layout flex flex-col h-full">
        <app-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
        <ng-scrollbar class="relative" style="height: 100%">
          @if(user){
          <mat-nav-list class="sidebar-list">
            @for(item of navItems; track item) {
            <app-nav-item [item]="item" (notify)="sidenav.toggle()" class="top-parent">
            </app-nav-item>
            }
          </mat-nav-list>
          }

        </ng-scrollbar>
      </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper" #content>

      <app-header [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()" (toggleMobileNav)="sidenav.toggle()"
        (toggleMobileFilterNav)="toggleFilterNav()" (optionsChange)="receiveOptions($event)"></app-header>

      <main class="pageWrapper" [ngClass]="{
          maxWidth: options.boxed
        }">

        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
      </main>

      <footer class="text-center text-muted pt-2.5 pb-6">
        Design and Developed by
        <a class="text-primary underline" href="https://tailwind-admin.com/" target="_blank">tailwind-admin.com</a>
      </footer>

    </mat-sidenav-content>

  </mat-sidenav-container>
</span>